extends layout

block content
  h1= title
  
  form(method='POST' action='' enctype='multipart/form-data')
    div.form-group      

      label(for='file')
      input#file.form-control(type='file', name='file' )     

    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg