extends layout

block content
         
         form(method = "POST" action = "" )

         input(name = "email" type = "text" placeholder = "Email Address")

         br

         input(name = "password" type = "password" placeholder = "Password")

         br

         input(name = "passwordConf" type = "password" placeholder = "Confirm Password")

         br

         a(href = "#") Sign in
         button.btn.btn-primary(type = "submit") Sign up