
<div>
		<!-- List of all books -->
	<div ng-show="allBooks">
		<div>
			<h1 class="title">Books</h1>
			<input type="text" id="search" placeholder="Search" ng-model="search">
			<div class="clear"></div>
		</div>


		<table>
			<thead>
		        <tr>	        	
		            <th>№</th>
		            <th>Author</th>
		            <th ng-click="toggleSort=!toggleSort">Title &#11021;</th>
		            <th>Rating</th>
		            <th>Satus</th>
		            <th>Actions</th>
		        </tr>
    		</thead>
			<tbody>
			    <tr ng-repeat="a in booksList | orderBy : !toggleSort?'-title':'title' | filter : search | filter : paginate" >	
			        <td>{{$index + 1}}</td>
			        <td>{{a.author}}</td>
			        <td ng-click="showDetails(a._id, a.author, a.title, a.description)">{{a.title}}</td>
			        <td ng-controller="StarCtrl">
			        	<ul class="rating">
				            <li ng-repeat="n in [].constructor(maxRating) track by $index">
				                <span ng-click="rateBy($index+1)" ng-show="ratedBy > $index" class="filled">&#9733;</span>
				                <span ng-click="rateBy($index+1)" ng-show="ratedBy <= $index">&#9733;</span>
				            </li>
        				</ul>
			        </td>
			        <td>
			        	on<input id="on" type="radio"  ng-model="a.status" value="ON" > {{a.status}}       
			        	<input id="off" type="radio"  ng-model="a.status" value="OFF" >off
			        </td>
			        <td>
				        <button ng-click="editBook(a._id, a.author, a.title, a.description, a.status)">Edit</button>
				        <button ng-click="deleteBook(a._id)">Delete</button>
				    </td>
			    </tr>
			</tbody>
		</table>

		<pagination  
	        total-items="totalItems" 
	        items-per-page= "itemsPerPage"
	        ng-model="currentPage" 
	        class="pagination-sm">
    	</pagination>

	</div>
		<!-- End of List of all Books -->

		<!-- Book detais block -->
	<div ng-show="bookDetailsStatus">
		<div >
			<h1>{{bookAuthor}} - {{bookTitle}}</h1>				
			<p>{{bookDescription}}</p>			
			<a target="_self" href="http://localhost:3000/books/{{bookId}}/download" download="book.pdf">Download</a>
		</div>
	</div>
		<!-- End Book details block -->

		<!-- Edit book -->
	<div ng-show="bookEditFormStatus">
		<h1>Edit Book</h1>
		<form method="POST" action="{{action}}" role="form" enctype="multipart/form-data" >
			<input type="file"  name="fileUpload" required><br>
			<input type="text"  name="author" placeholder='Author' required value="{{bookAuthor}}"><br>
			<input type="text"  name="title" placeholder='Title' required value="{{bookTitle}}"><br>
			<textarea type="text" name="description" placeholder='Description' required >{{bookDescription}}</textarea><br>
			<label for="status">Status</label>
				<select name="status" id="status">
					<option value="On">On</option>
					<option value="Off">Off</option>
				</select>
			<button type="submit" >Submit</button><br>
			<button type="button">Cancel</button>
			
		</form>
	</div>
		<!-- End of Edit book -->


</div>