<div ng-show="loginStatus">

<!-- User login -->
	<div ng-show="loginFormStatus">
		<h1>User Login</h1>
		<form name="login" ng-submit="userLogin()" novalidate>
			<input name="logemail" ng-model="formData.logemail" type="text" placeholder="Email Address" ><br>
			<input name="logpassword" ng-model="formData.logpassword" type="password" placeholder="Password" ><br>			
			
			<button type="submit">Login</button>
			<button type="button" ng-click="showSignup()">Sign up</button>
			
		</form>
		<p class="error" ng-repeat="b in errorLoginMessage">{{b.msg}}</p>
	</div>
<!-- End of User login -->



<!-- User signup -->
	<div ng-show="signupFormStatus">
		<h1>User signUp</h1>
		<form name="signup" ng-submit="userSignup()" novalidate>
			<input name="email" ng-model="formData.email" type="text" placeholder="Email Address" ><br>
			<input name="password" ng-model="formData.password" type="password" placeholder="Password" ><br>			
			
			<button type="submit">SignUp</button>
			<button type="button" ng-click="showLogin()">Login</button>			
			
		</form>
		<p class="error" ng-repeat="b in errorSignupMessage">{{b.msg}}</p>
	</div>
<!-- End of User signup -->

</div>