<div class="nav">
    <div ng-show="menuStatus">
        <nav class='menu'>
            <ul>
                <li>
                    <a href="books" ng-click="chooseBooks()" >Books</a>
                </li>        
                <li>
                    <a href="add" ng-click="chooseAddBook()">Add</a>
                </li>
                 <li>
                    <a ng-click="chooseEditBook(_id)" >Edit</a>
                </li>         
            </ul>            
        </nav>

        <div class="profile">
            <div class="login-btn">
                <a href="login">User login:</a>
            </div>
            <div ng-show="userDataStatus">
                {{userData}}
                <button ng-show="logoutStatus" ng-click="logout()">Logout</button>                
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>